* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.app-container {
  width: 100%;
  background-color: #F5F5F5;
}

.header-container {
  width: 100%;
  padding: 2rem;
}

.header-logo {
  max-width: 120px;
}

.header-logo > img {
  width: 100%;
}

.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card-component {
  margin: 20px;
  padding: 20px;
  max-width: 320px;
  background-color: #fff;
}

.searchbar-wrapper {
  width: 100%;
}

.searchbar-component {
  max-width: 320px;
  margin: 0 auto;
}

.searchbar-field {
  width: 100%;
  padding: 10px;
}